.employeeTable {
  background: #fcffda;

  thead {
    background: #f4ff77;

    th {
      padding: 10px;
    }
  }

  tbody {
    td {
      padding: 10px;
    }
  }
}

#employeeForm {
  margin: 20px;

  input {
    background: lightblue;
  }
}
