<h2>Exchange</h2>

<div id="currency1">
    <select (change)="onChange($event.target.value); change()">
        <option value="Choose Currency">Choose Currency</option>
        <option [value]="currency" *ngFor="let currency of currencies">{{currency}}</option>
    </select>
    <input type="number" (keyup)="onKeyUp($event.target.value); change()">
</div>

<div id="currency2">
    <select (change)="onChange2($event.target.value); change()">
        <option value="Choose Currency">Choose Currency</option>
        <option [value]="currency" *ngFor="let currency of currencies">{{currency}}</option>
    </select>
    <input type="number" [value]="currency2Value">
</div>