<h2>Exchange</h2>

<div id="currency1">
    <select (change)="onChange($event.target.value); change()">
        <option value="Choose Currency">Choose Currency</option>
        <option [value]="currency" *ngFor="let currency of currencies">{{currency}}</option>
    </select>
    <input type="number" (keyup)="onKeyUp($event.target.value); firstInput(); change()" [value]="currency1Value">
</div>

<div id="currency2">
    <select (change)="onChange2($event.target.value); change()">
        <option value="Choose Currency">Choose Currency</option>
        <option [value]="currency" *ngFor="let currency of currencies">{{currency}}</option>
    </select>
    <input type="number" (keyup)="onKeyUp2($event.target.value); secondInput(); change()" [value]="currency2Value">
</div>

<h2>Sum</h2>

<form [formGroup]="arrayForm">
    <div formArrayName="input" id="currency2">
        <div *ngFor="let input of inputs; let id = index">
            <select (change)="onChange3($event.target.value);">
                <option value="Choose Currency">Choose Currency</option>
                <option [value]="currency" *ngFor="let currency of currencies">{{currency}}</option>
            </select>
            <input type="number" [formControlName]="id" (keyup)="keyUp3($event.target.value); sumCurrencies() ">
        </div>
    </div>
</form>

<button (click)="addCurrency()">Add Currency</button>
