<h3>Cart</h3>

<p>
    <a routerLink="/shipping">shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items; index as productId">
    <span>{{item.name}}</span>
    <span>{{item.price | currency}}</span>
    <button (click)="clearItem(productId)">Delete</button>
</div>

<button (click)="clearCart()">Delete</button>

<form [formGroup]="checkedForm" (ngSubmit)="onSubmit(checkedForm.value)">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" required>
    </div>
    <div formGroupName="address">
        <h3>Address</h3>
        <label for=""> Street:
            <input type="text" formControlName="street">
        </label>
        <label for=""> City:
            <input type="text" formControlName="city">
        </label>
        <label for=""> State:
            <input type="text" formControlName="state">
        </label>
        <label for=""> Zip Code:
            <input type="text" formControlName="zipCode">
        </label>
    </div>
    <button class="button" type="submit" *ngIf="checkedForm.status === 'VALID'">Purchase</button>
    <button class="button" type="button" (click)="resetForm()">Reset</button>
</form>

<div>
    <h3>Customer</h3>
    <p>Name: {{checkedForm.controls.name.value}}</p>
    <p>Address: {{checkedForm.controls.address.value | json}}</p>
    <p>Form Status: {{checkedForm.status}}</p>
</div>