<h2 routerLink="/signUp">Sign Up</h2>

<form [formGroup]="checkedform">

   <label>E-mail:
       <input type="text" formControlName="email">
       <div *ngIf="email.invalid  && (email.dirty || email.touched)">
           <div *ngIf="email.errors.required">
               required
           </div>
           <div *ngIf="email.errors.email">
               Invalid email
           </div>
       </div>
   </label>
   <div formGroupName="passwordGroup">
       <label>Password:
           <input type="password" formControlName="password">
           <div *ngIf="password.invalid  && (password.dirty || password.touched)">
               <div *ngIf="password.errors.required">
                   required
               </div>
               <div *ngIf="password.errors.minLength">
                   minimum length 7
               </div>
               <div *ngIf="password.errors.pattern">
                   only english letters & numbers in the password
               </div>
           </div>
       </label>
       <label>Confirm Password:
           <input type="password" formControlName="confirmPassword">
           <div *ngIf="passwordGroup.invalid && (confirmPassword.dirty || confirmPassword.touched)">
               <div *ngIf="confirmPassword.errors?.required">
                   required
               </div>
               <div *ngIf="passwordGroup.errors?.incorrect">
                   incorrect password
               </div>
           </div>
       </label>
   </div>

   <label>Nickname:
       <input type="text" formControlName="nickname">
       <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)">
           <div *ngIf="nickname.errors.required">
               required
           </div>
           <div *ngIf="nickname.errors.pattern">
               Nickname should contain only english characters numbers and character -
           </div>
       </div>
   </label>

   <label>Phone Number:
       <input type="text" formControlName="phoneNumber">
       <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
           <div *ngIf="phoneNumber.errors.required">
               required
           </div>
           <div *ngIf="phoneNumber.errors.pattern">
               must start with +380 and after must be 9 number charactes.
           </div>
       </div>
   </label>

   <label>Website:
       <input type="url" formControlName="website">
       <div *ngIf="website.invalid && (website.dirty || website.touched)">
           <div *ngIf="website.errors.required">
               required
           </div>
           <div *ngIf="website.errors.pattern">
               incorect format
           </div>
       </div>
   </label>
   <label>
       <input type="checkbox" formControlName="agreement"> I have read the <a href="#">Agreement</a>
       <div *ngIf="agreement.invalid && (agreement.dirty || agreement.touched)">
           <div *ngIf="agreement.errors.required">
               required
           </div>
       </div>
   </label>

   <button type="submit" [disabled]="checkedform.status === 'INVALID'">Register</button>
</form>