<h2 routerLink="/user-forms">Sign Up</h2>

<form [formGroup]="checkedForm">
    <div class="form-group">
        <label for="email">
            E-mail
        </label>
        <input type="text" id="email" formControlName="email">
    </div>
    <div class="form-group">
        <label for="email">
            Password
        </label>
        <input type="text" id="email" formControlName="password">
    </div>
    <div class="form-group">
        <label for="email">
            Confirm Password
        </label>
        <input type="text" id="email" formControlName="confirmPassword">
    </div>
    <div class="form-group">
        <label for="email">
            Nickname
        </label>
        <input type="text" id="email" formControlName="nickName">
    </div>
    <div class="form-group">
        <label for="email">
            Phone Number
        </label>
        <input type="text" id="email" formControlName="phoneNumber">
    </div>
    <div class="form-group">
        <label for="email">
            Website
        </label>
        <input type="text" id="email" formControlName="website">
    </div>
    <button type="submit" [disabled]="!checkedForm.valid">Register</button>
</form>