<a [routerLink]="['/']">
    <h1>My store</h1>
</a>

<a [routerLink]="['/cart']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Checkout
</a>

<a [routerLink]="['/wishlist']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Wish list
</a>

<a [routerLink]="['/user-forms']" class="button fancy-button">
    Sign Up old
</a>

<a [routerLink]="['/currency']" class="button fancy-button">
    Currencies
</a>

<a [routerLink]="['/exchange']" class="button fancy-button">
    exchange
</a>

<a [routerLink]="['/dashboard']" class="button fancy-button">
    dashboard
</a>

<a [routerLink]="['/guard']" class="button fancy-button">
    Guard
</a>

<a *ngIf="access" [routerLink]="['/users']" class="button fancy-button">
    users
</a>

<a  *ngIf="!access" [routerLink]="['/signUp']" class="button fancy-button">
    Sign Up
</a>

<a *ngIf="!access" [routerLink]="['/login']" class="button fancy-button">
    Login
</a>

<a *ngIf="access" [routerLink]="['/login']" (click)="logoutUser()" class="button fancy-button">
    Log Out
</a>

<a [routerLink]="['/employees']" class="button fancy-button">
    Employees
</a>

<a [routerLink]="['/employee/register']" class="button fancy-button">
    Register Employee
</a>

<button class="button fancy-button" (click)="menu.showMenu()">Menu</button>
<app-menu #menu></app-menu>